<% 
    var input_name = "search";
    var input_placeholder = "Search for a job";
    var input_aria_label = "Search for a job";
    var input_id = 'searchAddon';
%>
<div class="input-group">
     <span class="input-group-text pe-0 border-0">
        <i class="bi bi-search" id="<%= input_id %>"></i>
    </span>
    <input class="form-control ps-2 border-0" name="<%= input_name %>" type="search" placeholder="<%= input_placeholder %>" aria-label="<%= input_aria_label %>" aria-describedby="<%= input_id %>"/>
</div>