<% 
    var items = [
        {
            active: true,
            src: '/img/carousel/1.jpg',
            alt: 'Image 1',
        },
        {
            active: false,
            src: '/img/carousel/1.jpg',
            alt: 'Image 2',
        },
        {
            active: false,
            src: '/img/carousel/1.jpg',
            alt: 'Image 3',
        },
    ]
    .map(item => require("./item.ejs")(item))
    .join('');

    var carousel_id = "carouselExample";
    var ride = "carousel";
    var controls = require("./controls.ejs")({
        carousel_id
    });
    var indicators = require("./indicators.ejs")({
        carousel_id
    });
%>
<div id="<%= carousel_id %>" class="carousel slide" data-bs-ride="<%= ride %>">
    <%- indicators %>
    <div class="carousel-inner">
        <%- items %>
    </div>
    <%- controls %>
</div>