<% 
    var nav_links = require('/partials/components/list/index.ejs')({
        list_type: 'ul',
        class_names: 'nav col-12 col-md-auto mb-2 justify-content-center mb-md-0',
        list_items: [{
            text: 'Home',
            href: '/index.html',
            class_names: 'nav-link px-2 link-secondary'
        }, {
            text: 'Features',
            href: '/features/',
            class_names: 'nav-link px-2'
        },
        {
            text: 'Pricing',
            href: '/pricing/',
            class_names: 'nav-link px-2'
        },
        {
            text: 'FAQs',
            href: '/faqs/',
            class_names: 'nav-link px-2'
        },
        {
            text: 'About',
            href: '/about/',
            class_names: 'nav-link px-2'
        }
    ]
        .map(item => {
            return require('/partials/elements/list-item/index.ejs')({
                content: require('/partials/components/anchor/index.ejs')({
                    text: item.text,
                    href: item.href,
                    class_names: item.class_names
                })
            })
        }).join('')
    });

    var site_name_anchor = require('/partials/components/anchor/index.ejs')({
        text: `<span class="fw-bold text-body-emphasis" style="font-size: 1.5em;">Blueprint</span>`,    
        href: "/index.html",
        class_names: 'd-inline-flex link-body-emphasis text-decoration-none'
    });

    var flex_end_content = `<a href="/contact/" class="btn btn-primary btn-lg">Contact</a>`;
        var header_class_extras = 'mb-4 border-bottom';
        var section_extra_classes = typeof pin_top !== 'undefined' && pin_top ? 'pin-top' : '';
%>
<section class="header <%= section_extra_classes %>">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-3 border-bottom <%= header_class_extras %>">
            <div class="col-md-3 mb-2 mb-md-0">
                <%- site_name_anchor %>
            </div>
            <%- nav_links %>
            <div class="col-md-3 text-end d-flex align-items-center justify-content-end gap-2">
                <%- flex_end_content %>
            </div>
        </header>
    </div>
</section>