<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Github - Blueprint Docs</title>
    <script src="https://cdn.jsdelivr.net/gh/gnat/css-scope-inline@main/script.js"></script>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Header -->
        <div class="container-fluid">
            <%- require("/blueprint/partials/header.ejs")({
                base_url: base_url,
                fluid: true
            }) %>
        </div>
        
        <!-- Docs Content -->
        <section>
            <div class="container-fluid">
                <div class="row">
                    
                    <!-- Left Sidebar Navigation -->
                    <%- require("/blueprint/partials/docs/sidebar.ejs")({ base_url, current_path }) %>
                  
                    <!-- Main Content -->
                    <div class="col-12 col-lg-6 col-xl-8 py-7 py-lg-9 px-lg-7" id="doc-content">

                        <%- require("/blueprint/partials/components/breadcrumbs/index.ejs")({
                            list: `<ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Docs</a></li>
            <li class="breadcrumb-item"><a href="#">Github</a></li>
            <li class="breadcrumb-item active" aria-current="page">WordPress Theme</li>
        </ol>` 
                    }) %>

                        <!-- Page Title -->
                        <h1 class="mb-2">WordPress Theme</h1>
                        <p class="fs-lg text-muted mb-3">Reference for local dev.</p>
                        
                        <!-- Github Scenarios -->
                        <h2>Clone</h2>

                        <p>From the theme directory run the following command:</p>

                        <pre><code class="language-bash">git clone git@github.com:lray138/blueprint-wordpress.git blueprint
</code></pre>
                        <hr class="my-4"/>
                        
                        <%- require("/blueprint/partials/components/nav-pager/index.ejs")({
                            next: "<a href='/tutorials/webpack-html/project-setup/index.html' class='nav-pager-item'><div class='text-uppercase small text-muted'>Next</div><p class='mb-0'>Welcome (to the Jungle)</p></a>"
                        }) %>
                    </div>
                    
                    <!-- Right "Jump to" Sidebar -->
                    <%- require("/blueprint/partials/docs/jump-to.ejs")() %>
                </div>
            </div>
        </section>
        
        <!-- Footer -->
        <div class="container mt-auto">
            <%- require("/blueprint/partials/footer.ejs")() %>
        </div>
        <%- require("/blueprint/partials/svg-icons.ejs")() %>
    </body>
</html>